@import "variable";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: $ff;
  background-color: #eee;
}

* {
  margin: 0;
  padding: 0;
}

a,
button,
img,
input,
select {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

a,
img,
button {
  border: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

em,
i {
  font-style: normal;
}

img {
  vertical-align: top;
}

.router-view {
  width: 100%;
}

a.link {
  color: #333;
}

.ipt {
  font-size: .28rem;
  color: #999;
  padding-left: 10px;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
}

.ui-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #323136;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.more {
  height: .6rem;
  line-height: .6rem;
  background-color: #eee;
  text-align: center;
  font-size: .24rem;
  color: #323136;
  a {
    display: inline-block;
  }
}

.btn {
  display: block;
  font-size: .3rem;
  color: #fff;
  text-align: center;
  height: .88rem;
  line-height: .88rem;
  margin-bottom: .3rem;
}

.btn-primary {
  background-color: #bf3737;
}

.btn-primay-disabled {
  background-color: #EC8B89;
  color: rgba(255, 255, 255, 0.6);
}

.btn-default {
  background-color: #928f9c;
}

.form-item {
  display: flex;
  height: .88rem;
  margin-bottom: .3rem;
  position: relative;
  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border: 1px solid #878787;
    transform-origin: 0 0;
    transform: scale(.5);
  }
  .item-hd {
    width: .88rem;
    height: .88rem;
    line-height: .88rem;
    background-color: #878787;
    color: #fff;
    font-size: .28rem;
    text-align: center;
    z-index: 1;
  }
  .item-bd {
    flex: 1;
    z-index: 1;
  }
  .count-down {
    width: 1.76rem;
    height: .88rem;
    line-height: .88rem;
    background-color: #bf3737;
    color: #fff;
    font-size: .28rem;
    text-align: center;
    z-index: 1;
    &:disabled {
      opacity: .6;
    }
  }
}

.form-op {
  padding-top: .3rem;
}
