.search-bar {
  position: relative;
  padding: .12rem .3rem;
  display: flex;
  background-color: #323136;
  &.search-bar-focusing {
    .search-bar-cancel-btn {
      display: block;
    }
  }
}

.search-bar-form {
  position: relative;
  padding-left: 30px;
  flex: 1;
  height: .6rem;
  background-color: #323136;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    transform: scale(.5);
    transform-origin: 0 0;
    border-radius: 10px;
    border: 1px solid #464649;
    box-sizing: border-box;
    background-color: #464649;
    z-index: -1;
  }
  .search-bar-input {
    padding: .1rem 0;
    box-sizing: content-box;
    width: 100%;
    height: .4rem;
    border: 0;
    font-size: .28rem;
    line-height: .4rem;
    color: #fff;
    background: transparent;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
  }
  .weui-icon-search {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: .6rem;
  }
  .weui-icon-clear {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    line-height: .6rem;
  }
}

.search-bar-cancel-btn {
  display: none;
  margin-left: 10px;
  line-height: .6rem;
  font-size: .28rem;
  color: #6d6d6d;
  white-space: nowrap;
}

.search-bar-input:not(:valid)~.weui-icon-clear {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
